@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
    /* shared styles */
    .display-flex{
        display: flex;
    }
    .text-gray{
        color: ;

        text: font-weight;
    }
    .text-light-gray{
        color: #e52908;
    }
    .bg-light{
        background-color: #777777;
    }

    /* header styles */

    /* navbar  related styles */
    .navbar{
        justify-content: space-between;
        
    }
    .nav-item{
        display: flex;
        list-style: none;
        margin-right: 30px;
    }
    .nav-link{
        text-decoration: none;
    }
    .navbar, .banner{
        max-width: 1440px;
        margin: 0 auto;
    }
